Repository ivee-tech/ai-logger: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/ai-logger-api-appsvc.yml, azure-pipelines.yml

.pipelines/ai-logger-api-appsvc.yml:
  stages:
  - stage: Build
    displayName: Build and Test API
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET SDK $(dotNetVersion)
        inputs:
          packageType: sdk
          version: $(dotNetVersion)
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET $(dotNetVersion)
        inputs:
          packageType: sdk
          version: $(dotNetVersion)
  ...

Fix env
  .pipelines/ai-logger-api-appsvc.yml
Due: none

Added API health check
  src/AiLogger.Api/Program.cs
Due: .pipelines/ai-logger-api-appsvc.yml, azure-pipelines.yml

Added web.config
  src/AiLogger.Api/web.config
Due: .pipelines/ai-logger-api-appsvc.yml, azure-pipelines.yml

Added web app pipeline
  .pipelines/ai-logger-web-appsvc.yml
Due: none

Renamed Yaml file
  .pipelines/ai-logger-app-appsvc.yml
Due: none

Updated web app build budgets
  AiLogger.Web/angular.json
Due: none

Infra fixes + web app build correct folder
  .pipelines/ai-logger-app-appsvc.yml
  infra/app-svc.ai-logger.app.parameters.jsonc
  infra/app-svc.bicep
Due: .pipelines/ai-logger-api-appsvc.yml

Fix build folder
  .pipelines/ai-logger-app-appsvc.yml
Due: none

Fixed api url
  AiLogger.Web/src/app/app.component.ts
  AiLogger.Web/src/environments/environment.ts
Due: none

Updated local detector to avoid flagging namespace-style identifiers or file/unit names as sensitive
  src/AiLogger.Core/ILocalSensitiveDataDetector.cs
Due: .pipelines/ai-logger-api-appsvc.yml, azure-pipelines.yml

Improvements for log file naming, mapping fixes, and refactoring to allow sending data in chunks to AI models
  .gitignore
  AiLogger.Web/src/app/app.component.ts
  AiLogger.Web/src/app/models/log-analysis.models.ts
  src/AiLogger.Api/AiLogger.Api.csproj
  src/AiLogger.Api/Contracts/LogAnalysisContracts.cs
  src/AiLogger.Api/Program.cs
  src/AiLogger.Api/appsettings.json
  src/AiLogger.Console/Program.cs
  src/AiLogger.Console/appsettings.json
  src/AiLogger.Core/AiLogger.Core.csproj
  src/AiLogger.Core/IAIProviderFactory.cs
  src/AiLogger.Core/ILocalSensitiveDataDetector.cs
  src/AiLogger.Core/LogSanitizationPipeline.cs
  src/AiLogger.Providers/AIProviderFactory.cs
  src/AiLogger.Providers/AzureOpenAIProvider.cs
  src/AiLogger.Providers/OllamaProvider.cs
  src/AiLogger.Providers/ProviderSystemPrompts.cs
  src/AiLogger.Tests/ProviderFactoryTests.cs
Due: .pipelines/ai-logger-api-appsvc.yml, azure-pipelines.yml

Path conditions:
  .pipelines/ai-logger-api-appsvc.yml: any of: src/AiLogger.Api, src/AiLogger.Core, src/AiLogger.Providers, src/AiLogger.Security, src/AiLogger.Storage, src/AiLogger.Tests, .pipelines/ai-logger-api-appservice.yml, infra, deployment
  azure-pipelines.yml: any of: src
